<style>
body{
	font-family: Helvetica, Arial, Sans-Serif;
}
.cmd{
	background-color: #FFFFC0;
	font-family: Courier New, Courier,mono,Sans-Serif;
	border: 1px dashed gray;
	padding: 0.6em;
}
.cmd-response{
	background-color: #C0FFC0;
	font-family: Courier New, Courier,mono,Sans-Serif;
	border: 1px dashed gray;
	padding: 0.6em;
}
.cmd-responsefail{
	background-color: #FFC0C0;
	font-family: Courier New, Courier,mono,Sans-Serif;
	border: 1px dashed gray;
	padding: 0.6em;
}
.caption{
	font-size: x-small;
	font-style: italic;
}
.floatbox{
	float: right;
	background-color: #EEFFFF;
	border: 1px solid lightgray;
	padding: 0.6em;
}
img{
	border: 1px solid lightgray;
}
</style>

